.arms{
  height: 170px;
  width: 330px;
  display: flex;
  border: 4px groove #f8bf74;
  border-radius: 7%;
  margin: 20px;
  padding: 20px;
  overflow: auto;
  
}

.arms:hover {
  transform: scale(1.1);
  transition: transform 330ms ease-in-out;
  }

.img-weapons{
  object-fit: contain;
  overflow: auto;

}
