

.name{
  display: flex;
  justify-content: center;
  margin: 10px;
  padding-top: 20px;
}

.plan{
  height: 170px;
  width: 300px;
  display: flex;
  border: 4px groove #f8bf74;
  border-radius: 7%;
  margin: 20px;
  object-fit: contain;
  overflow: auto;
  overflow-x: hidden;
  
}

