.details{
  flex: 1;
  display: flex;
  flex-direction: row;
}

.details-agent{
  flex: 1;
  padding: 15px;
  margin: 15px;
}


.img-agent{
  flex: 1;
  display: flex;
  align-self: center;
  position: relative;
}

.image{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 4;
}

.abilities-background{
  flex: 1;
  height: 600px;
  width: 300px;
  display: flex;
  margin: 20px;
  object-fit: contain;
  position: relative ;
  z-index: 2;
  background-color: rgb(192, 192, 192);
}

.agent-name{

  font-size: 3.5rem;
  padding-bottom: 15px;
}

.details-agent-description{
  display: flex;
  padding-bottom: 15px;
}

.abilities{
  flex: 1;
  display: flex;
  flex-direction: column;
}


.abilities-img{
  background-color: rgb(192, 192, 192);
  height: 40px;
  width: 40px;
  display: flex;
}

.abilities1{
  display: flex;
  align-items: center;
  margin:10px ;
 
}

.abilities2{
  display: flex;
  align-items: center;
  margin:10px ;
}

.abilities3{
  display: flex;
  align-items: center;
  margin:10px ;
}

.abilities4{
  display: flex;
  align-items: center;
  margin:10px ;
}

.description-abilities{
  font-size: 0.7rem;
}

.name-img-abilities{
  flex: 1;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.description-abilities{
  flex: 2.5;
  display: flex;
  margin: 5px;
}

.details-description-abilities{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}


.content-abilities{
  display: flex;
}

